.issue-list {
    margin: 40px auto;
  }

  .issue {
    border-bottom: 1px solid;
    padding: 15px 25px;
    cursor: pointer;
    text-align: left;
}

.issue:hover {
    background-color: #f7f7f7;
}
  
.issue-no {
    color: #28a745;
  }
  
  .issue-title {
    font-weight: bold;
  }

  .action-btn {
    margin-top: 40px;
    clear: both;
  }

 .btn{
    width: 100px;
    padding: 6px 8px;
    border-radius: 5px;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    color: #fff;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }